.card__highlight{
    margin: 0px;
    margin-top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 116%;
    margin-bottom: 24px;
    min-width: 463px;
    color: #203845;
}