.start__text{
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 109.3%;
    text-align: center;
    width: 1074px;
}

.start__text:nth-child(2n+1){
    width: auto;
}
