.card{
    display: flex;
    flex-flow: column wrap;
    background: #FFFFFF;
    border-radius: 32px;
    /* width: 50%; */
    min-width: 680px;
    position: relative;
    padding-left: 32px;
}

@media (max-width: 1439px) {
    .card {
        min-width: 560px;
        padding-left: 25px;
    }
}